<!doctype html>
<html lang="en" >
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body ng-app="NarrowItDownApp">
   <div class="container" ng-controller="NarrowItDownController as cont1">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group" >
      <input type="text" placeholder="search term" class="form-control" ng-model="cont1.input1">
    </div>
    
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="cont1.getData(cont1.input1);">Narrow It Down For Me!</button>
      {{cont1.message}}
    </div>

    <div>

    <foundd items="cont1.found" bad-remove="cont1.removeItem(index)"></foundd>
  </div>

    <!--li ng-repeat="x in cont1.found"> Name:{{x.name}} Short Name:{{x.short_name}} Description:{{x.description}} <button class="btn btn-primary" ng-click="cont1.removeItem($index);">Don't want this one!</button></li-->


    <!-- found-items should be implemented as a component ->
    <found-items found-items="...." on-remove="...."></found-items-->
  </div>

</body>
</html>